.header {background: var(--gray-800);
  color: #E1E1E6;
  font-size: 1.6rem;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem 0;

  gap: 16px;
}

.header img {
  height: 3rem;
}
